<div class="jumbotron">
    <h1 class="display-4">
        <img src="../../img/disgust-64.png" alt="disgust">
        OOPS!
    </h1>
    <hr>
    <p>
        {{message}}
    </p>

    {{#if intsructions}}
    <p>
        {{intsructions}}
    </p>
    {{/if}}

</div>