html {
    scroll-behavior: smooth;
}

body {
    /* overflow: hidden; */
    overflow-x: hidden;
    margin: 0;
}

canvas {
    border: 1px solid #000000;
    background-color: #343a40;
    /* setting up the height and wdht through javascript */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* astersrik */

.form-group.required label:after {
    content: "  *";
    color: #dc3545;
}

/* form */

.myInput {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #343a40;
    color: #343a40;
    background-color: transparent;
    width: 100%;
}

.myInput:focus {
    border-width: 0px 0px 1px 0px;
}

.loginButton {
    background-color: #0089AF;
    border: 1px transparent solid;
    color: white;
    border-radius: 25px;
}

.loginButton:hover {
    background-color: #00C7FF;
    transition: 0.2s;
    color: #004356;
}

.cover {
    background: rgba(247, 244, 243, .7);
}
