<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGIN</title>

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    {{!-- my CSS --}}
    <link rel="stylesheet" href="/css/login.css">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- my script -->
    <script src="/scripts/gttButton.js"></script>

    <!-- script for goBack Button -->
    <script src="/scripts/goBack.js"></script>

    <!-- font awesom 5 kit code -->
    <script src="https://kit.fontawesome.com/e00a1e7cf5.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    {{!-- HTML5 Canavs script --}}
    <script src="/scripts/canvas.js"></script>


    {{!-- Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Tangerine&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    {{!-- main branf font --}}
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    {{!-- alt --}}
    <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">

</head>

<body>
    <canvas id="myCanvas">
    </canvas>


    <div class="main d-flex flex-row justify-content-center align-items-center align-self-center">

        <div class="container cover p-5 d-flex flex-row justify-content-center align-items-center">

            <div class="container class" style="background-color: white;">

                <!-- main row for contents -->
                <div class="row">

                    <div class="col-12 col-sm-4 order-sm-last redGradient">

                        <div class="row mb-2 pt-2">
                            <div class="col">
                                <div class="text-center">
                                    <img src="/img/Logo_96.png" alt="logo">
                                    {{!-- <img src="/img/blogLogo_48.png" alt=""> --}}
                                    {{!-- <img src="/img/blogLogo_32.png" alt=""> --}}
                                </div>

                                <div class="text-center">
                                    <p class="tangFont mb-3" style=" font-size: 2rem;">
                                        New here?
                                    </p>
                                    <p><i>Signup and Discover</i>&nbsp;
                                        <a href="/" class="brandLink">
                                            <span class="brandFont" style="font-size :2em">BlogItOut.</span>
                                        </a>

                                    </p>
                                </div>
                            </div>

                        </div>

                        <div class="row align-items-end">
                            <div class="col align-self-end mb-3">
                                <div class="text-center">
                                    <a href="/signup">
                                        <button class="btn signupButton pl-4 pr-4">Sign Up</button>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="col-12 col-sm-8 order-sm-first p-3 whiteGradient">

                        {{#if alertMsg}}
                        <div class="row">
                            <div class="col">
                                <div class="alert alert-danger text-center mb-1" role="alert">
                                    Error! - {{alertMsg}} - Please try again.
                                </div>
                            </div>
                        </div>
                        {{/if}}

                        {{#if succesfullSignup}}
                        <div class="row">
                            <div class="col">
                                <div class="alert alert-success text-center mb-1" role="alert">
                                    Sign Up Succesfull !
                                </div>
                            </div>
                        </div>
                        {{/if}}

                        <div class="row">
                            <div class="col-12">

                                <div class="heading h2 text-center tangFont">
                                    Welcome back,
                                </div>

                                <p class="text-center">Please Log In to continue</p>

                                <div class="container mt-4">

                                    <form action="/login" method="POST">

                                        <div class="form-row justify-content-center m-0">
                                            <div class="form-group required text-center">
                                                {{!-- <label for="exampleInputEmail1">Email address</label> --}}
                                                <input type="email" name="email" tabindex="1"
                                                    class="form-control-plaintext myInput text-center"
                                                    placeholder="Email address" id="email" required="true">
                                            </div>
                                        </div>

                                        <div class="form-row justify-content-center m-0">

                                            <div class="form-group required">

                                                {{!-- <label for="password">Password</label> --}}
                                                <input type="password" id="password" name="password" tabindex="2"
                                                    placeholder="Password"
                                                    class="form-control-plaintext myInput text-center" required="true">
                                            </div>

                                        </div>

                                        <div class="text-center">
                                            <button class="btn loginButton pl-4 pr-4 mt-2" type="submit" tabindex="3">Log In</button>
                                        </div>

                                        <p align="right">
                                            <a href="#" id="forgotPass">Forgot Password ?</a>
                                        </p>
                                    </form>

                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>