<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {{#if title}}
        BlogItOut - {{title}}
        {{else}}
        BlogItOut
        {{/if}}
    </title>

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    {{!-- Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">


    <!-- my script -->
    <script src="/scripts/gttButton.js"></script>

    <!-- script for goBack Button -->
    <script src="/scripts/goBack.js"></script>

    <!-- font awesom 5 kit code -->
    <script src="https://kit.fontawesome.com/e00a1e7cf5.js" crossorigin="anonymous"></script>

    <style>
        html {
            scroll-behavior: smooth;
        }

        .main {
            background-color: #262B2F;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .inside-main {
            background-color: #F7F4F3;
            color: black;
            min-width: 100%;
            position: relative;

        }

        /* Change The Colour of all links to black */
        a {
            color: black
        }

        a:visited {
            color: black
        }

        a:hover,
        a:active,
        a:focus {
            color: black;
            text-decoration: none;

        }

        /* Signup Button at theend of form */
        .signupButton {
            background-color: #01BAEF;
            /* #FFFCF9;  */
            border: 1px transparent solid;
            /* color: #343A40; */
            color: white;
        }

        .signupButton:hover {
            background-color: #C7E8F3;
            transition: 0.2s;
            color: #005972;
        }

        /* astersrik */
        .form-group.required label:after {
            content: "  *";
            color: #dc3545;
        }

        .pacificoFont {
            font-family: 'Pacifico', cursive;
        }
    </style>

    {{> gttButtonStyling}}

    <script>

        function goBack() {
            console.log("clicked")
            window.history.back();
        }
    </script>
</head>

<body>

    <div class="container-fluid main p-5">
        <div class="container inside-main">
            
            {{#if signUpError}}
            <div class="row">
                <div class="col">
                    <div class="alert alert-danger alert-dismissible fade show text-center m-0" role="alert">
                        <img src="../img/failure-48.png" alt="sad">&nbsp;
                        Error While Signing you up ! - {{alertMsg}}, Please try again.
                        <button class="close mt-2" type="button" data-dismiss="alert" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            {{/if}}


            <div class="row row-content p-4 mb-3">
                <div class="col-12 h2 text-center pacificoFont">
                    <h3>Sign Up</h3>
                    <hr>
                </div>

                <div class="col-10">
                    <form action="/signup" method="POST">

                        <div class="form-group row required">
                            <label for="name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="fname" id="fname"
                                    placeholder="First Name">
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="lname" id="lname"
                                    placeholder="Last Name">
                            </div>
                        </div>

                        <div class="form-group row required">
                            <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Email address</label>
                            <div class="col-sm-10">
                                <input name="email" type="email" class="form-control" id="email"
                                    placeholder="Enter email" required="true">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your Email with
                                    anyone
                                    else.</small>
                            </div>
                        </div>

                        <div class="form-group row required">
                            <label for="number" class="col-sm-2 col-form-label">Contact Number</label>
                            <div class="col-sm-10">
                                <input name="number" type="text" class="form-control" id="number"
                                    placeholder="Enter Your Contact Number">
                                <small class="form-text text-muted">We'll never share your Contact Information with
                                    anyone
                                    else.</small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="bio" class="col-sm-2 col-form-label">Bio</label>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" name="bio"
                                    placeholder="A short description will be nice." rows="4"></textarea>
                                <small class="form-text text-muted">This will be a short description about
                                    yourself.</small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="lprofile" class="col-sm-2 col-form-label">LinkedIn Profile</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="lprofile"
                                    placeholder="https://www.linkedin.com/in/username/">
                                <small class="form-text text-muted">Help us understand you better.</small>
                            </div>
                        </div>

                        <div class="form-group row required">
                            <label class="col-sm-2 col-form-label" for="password">Password</label>
                            <div class="col-sm-10">
                                <input type="password" id="password" name="password" class="form-control"
                                    required="true">
                                <small id="passwordHelp" class="form-text text-muted">
                                    Your password must be 8-20 characters long, contain letters and numbers, and must
                                    not contain spaces, special characters, or emoji.
                                </small>
                            </div>
                        </div>

                        <div class="form-group row" id="termsOfUse">
                            <div class="offset-sm-2 col-sm-10">
                                <label class="text-secondary" for="password">
                                    By clicking Sign Up, you agree to our
                                    <span class="font-italic">
                                        <a href="#" class="text-danger">Terms of Use</a>
                                    </span>.
                                </label>
                            </div>
                        </div>

                        <div class="from-group row mb-4">
                            <div class="offset-sm-2 col-sm-10">
                                <button class="btn signupButton" type="submit">Sign Up</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

        </div>

    </div>

    {{!-- Partial for Go-To-Top Button --}}
    {{> gttButtonPartial}}

</body>

</html>